html,
header,
span,
section,
h1 {
  margin-left: 10px;
}

html {
  background: lightgray;
}

header {
  background: #888;
  height: 100px;
  padding: 10px;
}
ul {
  color: #2d2aeb;
  background: black;
}

section {
  color: #2d2aeb;
}
ul {
  background: Black;
  padding: 100px;
  font-size: 25px;
}
h2 {
  margin-left: 100px font-size 999px;
}
p {
  float: left;
  color: black;
  font-size: larger;
}
img {
  max-width: 50%;
  height: auto;
}

h1 {
  margin: 0px;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 50px;
  color: white;
  text-shadow: 1px 1px 1px #14136b;
  padding: 0px;
}
nav li {
  display: inline-block;
  margin-right: 50px;
  margin-top: 30px;
}
nav li a {
  color: white;
  font-size: 20px;
  display: inline;
}
h2 {
  text-align: center;
}
p {
  margin-right: 250px;
  margin-left: 250px;
}
